# Ignore the virtual environment directory
venv/
PyWhatKit_DB.txt
screenshot.png
config.json
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

